/*重置css样式*/
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 12px;
	font-family: 
}

img {
	border:none;
}

li {
	list-style: none;
}

input,select,textarea {
	outline: none;
	border:none;
	/*IE6兼容*/
	background: none;
}

a {
	text-decoration: none;
	color: #656565;
}

